.container{
    height: calc(100vh - 100px);
    margin: 40px 20px 0px 20px;
    border-radius: 10px;
    padding: 20px 10px 0px 30px;
    background-color: white;
    .myButton{
        margin-top: 40px;
    }
    .formItems{
        font-weight: 500;
    }
}